@using CleanArchMvc.Application.DTOs;
@using CleanArchMvc.WebUI.ViewModel;
@model CreateProductViewModel

@{
    ViewData["Title"] = "Adicionar Novo Produto";
}

<h1>Adicionar Produto</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="All"></div>
            <form asp-area="Admin" asp-controller="AdmProduct" asp-action="Created" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Product.Name">Nome</label>
                    <input asp-for="@Model.Product.Name" class="form-control" />
                    <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Product.Price">Preço</label>
                    <input asp-for="@Model.Product.Price" class="form-control" />
                    <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                </div>
                <label class="form-label">Escolha uma Categoria</label>
                <select asp-for="@Model.Product.CategoryId" class="form-select">
                    @foreach(CategoryDTO c in Model.Categories)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
                <div class="form-group">
                    <label asp-for="@Model.Product.Description">Descrição</label>
                    <input asp-for="@Model.Product.Description" class="form-control" />
                    <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>